.wy-nav-content {
    max-width: none;
}

object {
  width: 100% !important;
  height: 100% !important;
}

text {
  font-family: sans-serif !important;
}

a[href^="#cbr-"] {
  font-family: monospace !important;
}

div[id^="cbr-"] > h3 {
  font-family: monospace !important;
}

