.wy-nav-content {
    max-width: none;
}

.uml-diagram {
  width: 100% !important;
  height: 100% !important;
}

p.cbr-links-paragraph > a,
div.api-toctree .toctree-l1 > a,
div.api-toctree .toctree-l3 > a,
div.api-toctree .toctree-l5 > a {
  font-family: monospace !important;
  font-weight: bold !important;
}

div.cbr-subsection-header > h3 {
  font-family: monospace !important;
}

.logo-cook {
  color: #ff6600 !important;
  font-weight: bold;
}

.logo-b {
  color: #008033 !important;
  font-weight: bold;
}

.logo-as {
  font-weight: bold;
  background: -webkit-linear-gradient(#008033, #006680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-e {
  color: #006680 !important;
  font-weight: bold;
}
