.wy-nav-content {
    max-width: none;
}

.uml-diagram {
  width: 100% !important;
  height: 100% !important;
}

p.cbr-links-paragraph > a,
div.api-toctree .toctree-l1 > a,
div.api-toctree .toctree-l3 > a,
div.api-toctree .toctree-l5 > a {
  font-family: monospace !important;
  font-weight: bold !important;
}

div.cbr-subsection-header > h3 {
  font-family: monospace !important;
}
